<html ng-app="App">
  <head>
    <title ng-bind="($title || 'Home') + ' | 9Gangular'">9Gangular</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_tag 'application' %>
  </head>

  <body ng-controller="AppController">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">9Gangular</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active">
              <a ui-sref="section({section: 'design', id: 'hot'})">Design</a>
            </li>

            <li ui-sref-active="active">
              <a ui-sref="section({section: 'funny', id: 'hot'})">Funny</a>
            </li>

            <li ui-sref-active="active">
              <a ui-sref="section({section: 'geeky', id: 'hot'})">Geeky</a>
            </li>

            <li ui-sref-active="active">
              <a ui-sref="section({section: 'wtf', id: 'hot'})">WTF</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="https://github.com/dimasjt/9gangular" target="_blank">Github</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container container-main">
      <div ui-view></div>
    </div>

    <%= javascript_tag 'application' %>
</html>
