<div class="thumbnail">
  <div class="caption">
    <h3>{{ post.caption }}</h3>
  </div>

  <div ng-if="post.media">
    <videogular>
      <vg-media
        vg-src="sources"
        vg-native-controls="true"
        vg-loop="true"
        vg-autoplay="true">
      </vg-media>

      <vg-overlay-play></vg-overlay-play>
    </videogular>
  </div>

  <img ng-src="{{ post.images.large }}" alt="" class="img-post" ng-if="!post.media">
</div>
