<div class="row posts">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group" ng-if="!home">
      <ul class="nav nav-pills">
        <li ui-sref-active="active">
          <a ui-sref="section({ section: $stateParams.section, id: 'hot' })">Hot</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="section({ section: $stateParams.section, id: 'fresh' })">Fresh</a>
        </li>
      </ul>
    </div>

    <post ng-repeat="post in posts" post="post"></post>

    <div class="form-group">
      <a class="btn btn-block btn-primary" href="" ng-click="next()" ng-show="posts">Load More...</a>
    </div>
  </div>

</div>
